snippet html
	<!doctype html>
	<html>
		<head>
			<title>${1}</title>
			${2}
		</head>
		<body>
		</body>
	</html>

snippet div
	<div ${1:class=${2}} ${3:id=${4}}>
		${0}
	</div>

snippet img
	<img src=${1}>

snippet p
	<p ${1:class=${2}} ${3:id=${4}}>
		${0}
	</p>
