[user]
	email = shin.junwoo97@gmail.com
	name = Jun Woo Shin
[push]
	default = simple
[core]
	editor = nvim
[alias]
	branches = branch -a
	tags = tag
	stashes = stash list
	unstage = reset -q HEAD --
	discard = checkout --
	uncommit = reset --mixed HEAD~
	amend = commit --amend
[init]
	defaultBranch = main
