[Unit]
Description=User suspend actions
Before=sleep.target

[Service]
User=%i
Type=simple
Environment=DISPLAY=:0
ExecStart=i3lock -f -e -r 0 -s 8

[Install]
WantedBy=sleep.target
