[Unit]
Description=Enable libinput gestures

[Service]
User=%i
Type=simple
Environment=DISPLAY=:0
ExecStartPre=/bin/sleep 15
ExecStart=/usr/bin/python3 /usr/bin/libinput-gestures

[Install]
WantedBy=multi-user.target
