[Unit]
Description=Enable libinput gestures

[Service]
User=%i
Type=oneshot
ExecStart=/usr/bin/libinput-gestures-setup status

[Install]
WantedBy=multi-user.target
